<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--
	1.顺序 (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, 
 objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, 
 mappers?)
 	2.功能：
 	3.映射问题
 		省去繁琐的resultMap，引入驼峰自动映射;
 		多表查询时候还可以用resultMap
 	4.一级缓存
 		级别:sqlSession级别;默认是开启的
 		类比:相当于connection
 	   二级缓存 
 	   	级别:sqlSessionFactory;默认关闭的
 	   	说明:有工厂模式产生的sqlSession都实现数据共享
 	   	补充：由于mybatis的二级缓存效率太低，现实公司都不用用redis代替
 	   	
 	.添加mybatis自己的配置 -->
 	
	<settings>
		<!-- 开启驼峰自动映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		
		<!-- 二级缓存的总开关，被redis替代 -->
		<setting name="cacheEnabled" value="false"/>
	</settings>
	
		<plugins>
		<!-- 分页插件：com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 方言 -->
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询，查询数据总条数 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
		
		<!-- 通用Mapper插件 -->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<!--主键自增回写方法,默认值MYSQL,详细说明请看文档 -->
			<property name="IDENTITY" value="MYSQL" />
			<!--通用Mapper接口，多个通用接口用逗号隔开 -->
			<property name="mappers" value="com.jt.common.mapper.SysMapper" />
		</plugin>
	</plugins>
</configuration>